{% extends "base.html" %}

{% block title %}{{ journal.name }}{% endblock %}

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h3>Journal Details</h3>
    <div class="d-flex d-flex-inline"><span class="pe-2">Journal name:</span> <h5>{{ journal.name|title }}</h5></div>
    <hr>
        {% for trade in journal.trade_journal.all %}
        <div class="small">Trade ID: {{ trade.id }}</div>
        <div>Title: {{ trade.title }}</div>
        <hr>
        {% endfor %}

    <p>
        <a href="" role="button" class="btn btn-outline-primary">Edit Trades</a>
        <a href="{% url 'trades:journals' %}" role="button" class="btn btn-outline-secondary">Journals</a>
    </p>


{% endblock content %}